

<section class="mission">
  <div class="container">
    <h2 class="section__title">{{ section.settings.section-title }}</h2>
    <div class="line">&nbsp</div>

    <div class="mission-text-box">
      <div class="mission__pic">
        <img src="{{ section.settings.section-img-url | img_url: 'master'}}" alt="">
      </div>

      <div class="text-box_text">
        <p>
          {{ section.settings.section-descr-1 }}
        </p>
        <p>
          {{ section.settings.section-descr-2 }}
        </p>
      </div>
    </div>
    <div class="benefits-box">
      {% for block in section.blocks %}
        <div class="benefit">
          <div class="benefit__ic">
            <img src="{{ block.settings.benefit-icon | img_url: 'master'}}" alt="">
          </div>
          <div>
            <span class="benefit__title-num">{{ block.settings.benefit-tittle-num }}</span>
            <span class="benefit__title-letter">{{ block.settings.benefit-tittle-letter }}</span>
          </div>
          <p>{{ block.settings.benefit-descr }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "mission",
    "settings": [
      {
        "type": "text",
        "id": "section-title",
        "label": "Add section title"
      }, {
        "type": "image_picker",
        "id": "section-img-url",
        "label": "Add section image"
      }, {
        "type": "text",
        "id": "section-descr-1",
        "label": "Add section describtion"
      }, {
        "type": "text",
        "id": "section-descr-2",
        "label": "Add section describtion"
      }
    ],

    "blocks": [
      {
        "name": "Add benefit",
        "type": "add-benefit",
        "limit": 5,
        "settings": [
          {
            "type": "image_picker",
            "id": "benefit-icon",
            "label": "Benefit's icon"
          }, {
            "type": "text",
            "id": "benefit-tittle-num",
            "label": "Benefit's tittle number"
          }, {
            "type": "text",
            "id": "benefit-tittle-letter",
            "label": "Benefit's tittle letter"
          }, {
            "type": "text",
            "id": "benefit-descr",
            "label": "Benefit's description"
          }
        ]
      }
    ]
  }
{% endschema %}